<form method="post" action="/search" name="search">
<input class="form_field" type="text" value="" maxlength="32" size="12" name="query">
<br>
<input class="button" type="submit" value="Search">
</form>
