<h3>Search</h3>
<form method="post" action="/search" name="search">
  <input class="form_field" type="hidden" name="content_type" value="">
  <input class="form_field" type="hidden" name="section_permalink" value="">
  <input class="form_field" type="text" name="query" value="" maxlength="32" size="12">
  <input class="button" type="submit" value="Search"><br />
</form>
