
  <% selected_section_parent = @website_section.nil? ? nil : @website_section.parent %>
  <% unless section.nil? %>
  <%   section = section.root? ? section : section.root %>
  <%   unless section.positioned_children.empty? %>
         <div id="side_menu_container">
	       <ul id="side_menu">
  <%     section.positioned_children.each  do |child_section| %>
          <%if child_section.in_menu %>
            <%if child_section.has_access?(current_user)%>
              <% if (!@website_section.nil? && child_section.id == @website_section.id) or (!selected_section_parent.nil? and selected_section_parent.id == child_section.id) %>
                <li class="selected">
                  <%
                  selected_section = child_section
                else
                %>
                <li>
                <% end %>
                <a href="<%= child_section.path %>"><span><%= child_section.title %></span></a>
              </li>
            <% end %>
          <% end %>
      
        <% if !selected_section.nil? and !selected_section.children.empty? %>
          <ul class="side_menu_children">
            <%
            selected_section.positioned_children.each do |child_section|
            %>
              <% if !@website_section.nil? && child_section.id == @website_section.id %>
                <li class="selected">
                <% else %>
                <li>
                <% end %>
                <a href="<%= child_section.path %>"><span><%= child_section.title %></span></a>
              </li>
            <% end %>
          </ul>
        
        <% 
        selected_section = nil
        end 
        %>
      <% end %> 
        </ul>
	  </div>
	<% end %>   
  <% end %>
 

