<div id="menubar">
  <ul id="menu">
    <% 
      selected_menu_item = nil
      menu.website_nav_items.positioned.each do |item| 
    %>
      <% if menu_item_selected(item, true)
          selected_menu_item = item
      %>
        <li class="selected">
        <% else %>
        <li>
        <% end %>
        <a href="<%= item.menu_url %>"><span><%= item.title %></span></a>
      </li>
    <% end %>
  </ul>
</div>
<br/>
<%
if !selected_menu_item.nil? and !selected_menu_item.children.empty?
%>
  <div id="submenubar">
    <ul id="submenu">
      <%
      selected_menu_item.positioned_children.each do |child_menu_item|
      %>
        <% if menu_item_selected(child_menu_item)%>
          <li class="selected">
          <% else %>
          <li>
          <% end %>
          <a href="<%= child_menu_item.url %>"><span><%= child_menu_item.title %></span></a>
        </li>
      <% end %>
    </ul> 
  </div>
<% end %>



