<!DOCTYPE html>
<html>
<head>
  <title>Console</title>
  <%= stylesheet_link_tag    "console/application" %>
  <%= javascript_include_tag "console/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
