<!DOCTYPE html>
<html>
<head>
  <title>ErpBaseErpSvcs</title>
  <%= stylesheet_link_tag    "erp_base_erp_svcs/application" %>
  <%= javascript_include_tag "erp_base_erp_svcs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
