<h2><%=h @website_section.title %></h2>

<% @contents.each do |content| %>
  <%=content.body_html %>
<% end %>
  
<% #Optional Parameters:
 # content_type: Leave blank to search all section types, set to Blog to only search Blog articles
 # section_unique_name: This is the unique name for the section
 #                      Useful if you only want to search articles within a single Blog section
 # results_path: How do you want your results to display? via ajax? or on a new page?
 #               Leave blank if you want results to display via ajax on the same page as the search form
 #               Enter the path of results page if you want the search results to display on a new page
 # per_page: Number of results per page 
 # class: CSS class for the form %>
<%= render_widget :search,
                  :action => get_widget_action,
                  :params => set_widget_params({
                               :content_type => '',
                               :section_unique_name => '',
                               :results_path => '',
                               :per_page => 20,
                               :class => ''
                    }) %>