<% unless @sections.nil? %>
  <ul>
    <% @sections.each do |section| %>
      <%if section.has_access?(current_user)%>
        <li>
          <a href="/<%= section.permalink %>"><%= section.title %></a>
        </li>
      <%end%>
    <% end %>
  </ul>
<% end %>