<a style="float:right;width:75px;" href="<%=@cart_items_url%>" id="shopping-cart-link">
  <span><%=@item_count%> items<br/><%=@price%></span>
  <img style="float:right;" src="/images/icons/shoppingcart_full/shoppingcart_full_24x24.png" alt="Check Out" />
</a>