<!DOCTYPE html>
<html>
<head>
  <title>ErpInventory</title>
  <%= stylesheet_link_tag    "erp_inventory/application" %>
  <%= javascript_include_tag "erp_inventory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
