#products-view {
    font-family:'Lucida Grande','Lucida Sans Unicode',sans-serif;
    text-align:center;
    font-size:14px;
    width:100%;
    border-collapse: collapse;
}

#products-view a {
    text-decoration:none;
}

#products-view img {
    height:60px;
    width:65px;
    padding-right:15px;
}

#products-view div
{
    float:left;
    text-align:left;
}

#products-view th {
    padding: 0 0.5em;
}

#products-view thead td{
    background-color:#EEE;
}

#products-view td
{
    border-bottom:solid 2px #CCC;
}

#products-view tr:hover
{
    background-color:#FFFFEE;
}

#products-view td+td {
    border-left: 1px solid #CCC;
    text-align: center;
}

#product-image-assets .thumb img {
    border: 1px solid white;
    height: 60px;
    width: 90px;
}

#product-image-assets .thumb-wrap {
    float: left;
    margin: 4px 0 4px 4px;
    padding: 5px;
    cursor: pointer;
}

#product-image-assets .thumb {
    background: none repeat scroll 0 0 #DDDDDD;
    padding: 3px;
}

#product-images-assets .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 80px;
}