<div style="float:right;font-size:15px;">
  <% if current_user.nil? %>
    <span>
      <!-- 
      Both login and signup urls are used as a convention.
      If you want them to point to different pages update it here.
      -->
      <a href="/login">Login</a>&nbsp;|&nbsp;<a href="/signup">Signup</a>
    </span>
  <% else  %>
  <span>Welcome <%= current_user.party.description %>&nbsp;|&nbsp;<a href="/erp_app/logout">Logout</a></span>
  <% end %>
</div>