<br/>
<h1>Add Comment</h1>
<div>
  <%unless flash[:notice].blank?%>
    <div id="notice" style="padding:5px;background-color:#CCFFCC;"><%=flash[:notice]%></div>
  <%end%>
  <div id="requiredErrorDiv" style="display:none;padding:5px;color:red;background-color:#CCFFCC;">Please complete Form. Comment is required.</div>
  <br/>
  <form method="POST" action="/comments/add/<%=@website_section.id%>/<%=@published_content.content.id%>" onsubmit="return AddComment.validateForm(this);">
    <div class="form_settings">
      <div>
        <p><span>Comment</span><textarea class="contact textarea" rows="8" cols="50" name="comment"></textarea></p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value="post" /></p>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  AddComment = {
    requiredErrorDiv:document.getElementById('requiredErrorDiv'),

    validateForm:function(form){
      for( var i = 0; i < form.elements.length; i++ )
      {
        if(form.elements[i].name == 'comment'){
          if(form.elements[i].value == '' || form.elements[i].value == ' '){
            this.requiredErrorDiv.style.display = 'block';
            return false;
          }
        }
      }
      return true;
    }
  }
</script>