<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>We have reset the password for, <%= @user.username %></h1>
    <p>
      The new password is <%= @user.password_confirmation  %>.
      To login and update your password follow this link: <a href="<%= @url %>"><%= @url %></a>.
    </p>
    <p>Thanks for being a member and have a great day!</p>
  </body>
</html>