<!DOCTYPE html>
<html>
<head>
  <title>ErpTxnsAndAccts</title>
  <%= stylesheet_link_tag    "erp_txns_and_accts/application" %>
  <%= javascript_include_tag "erp_txns_and_accts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
