<div class="sexyerror">
  <h1>An Error Occurred</h1>
  <% if @is_html_form %>
    <ul>
      <% @validation.each do |k, v| %>
        <li><%= v %></li>
      <% end %>
    </ul>
  <% end %>
</div>