<div class="confirmation">
<%if @error%>
<p>There was an error booking your reservation.  Please contact our support center for further assistance.  Thank You.</p>
<%else%>
<p>An email has been sent to the supplied address with your confirmation.  Your confirmation number is</p>

<p>Confirmation # <%=order.order_number%></p>

<p>We look forward to seeing you!</p>
<%end%>
</div>