<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Organizer</title>
    <%= include_extjs(:theme => @organizer.get_preference(:extjs_theme), :debug => true) %>
    <%= stylesheet_link_tag('erp_app/compass-ext-all.css') %>
    <%= javascript_include_tag("erp_app/utility.js",
      "erp_app/shared/preference_form.js",
      "erp_app/organizer/preference_window.js",
      "erp_app/organizer/layout.js",
      "erp_app/organizer/default_menu_tree_panel.js") %>
    <%=setup_role_manager(@user)%>
    <%@organizer.applications.each do |application|%><%=application.load_resources%><%end%>
  </head>
  <body scroll="no">

    <script type="text/javascript">
      Ext.onReady(function() {
        var organizerLayout = Ext.create("Compass.ErpApp.Organizer.Layout",{logout_url:'../logout'});

<%
@organizer.applications.each do |application|
%>
      var app = Ext.create("Compass.ErpApp.Organizer.Applications.<%=application.internal_identifier.camelize%>.Base",{
        organizerLayout:organizerLayout,
  <%=application.build_widget_roles_js%>
      });
      app.setup();
<%
end
%>
        
    organizerLayout.setupLogoutButton();
    organizerLayout.setup();
  });
    </script>
  </body>
</html>

