.image-assets .thumb img {
    border: 1px solid white;
    height: 60px;
    width: 90px;
}

.image-assets .thumb-wrap {
    float: left;
    margin: 4px 0 4px 4px;
    padding: 5px;
    cursor: pointer;
}

.image-assets .thumb {
    background: none repeat scroll 0 0 #DDDDDD;
    padding: 3px;
    height: 65px;
    width: 95px;
}

.images-assets .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 80px;
}

#widgets .thumb img {
    border: 1px solid white;
    height: 48px;
    width: 48px;
}

#widgets .thumb-wrap {
    float: left;
    margin: 8px 0 8px 8px;
    cursor: pointer;
    width:60px;
    height:75px;
}

#widgets .thumb {
    padding: 3px;
}

#widgets .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

.approve-col{
    background-image:url( /images/icons/document_delete/document_delete_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_delete/document_delete_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.approved-col{
    background-image:url( /images/icons/document_ok/document_ok_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_ok/document_ok_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.publish-col{
    background-image:url( /images/icons/document_up/document_up_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_up/document_up_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.published-col{
    background-image:url( /images/icons/document_pinned/document_pinned_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_pinned/document_pinned_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.activate-col{
    background-image:url( /images/icons/delete/delete_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/delete/delete_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.active-col{
    background-image:url( /images/icons/add/add_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/add/add_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.viewing-col{
    background-image:url( /images/icons/eye/eye_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/eye/eye_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.view-col{
    background-image:url( /images/icons/document_view/document_view_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_view/document_view_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}

.info-col{
    background-image:url( /images/icons/information/information_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/information/information_16x16.png', sizingMethod='crop');
    height: 16px;
    width: 16px;
}