<%= @product_type.description %>
<br/>
<p><%= raw @product_type.find_description_by_iid('long_description').description %></p>
<br/>
Added to cart
<br/>
<%=link_to_remote 'Continue Shopping', build_widget_url(:index)%> | <a href="<%=@cart_items_url%>">Go to Cart</a>
<script type="text/javascript">
  Compass.ErpApp.Widgets.refreshWidget('shopping_cart', 'price_summary');
</script>