<div>
  <%
  display = 'none'
  unless flash[:notice].nil?
    display = 'block'
  end
%>
  <div id="requiredErrorDiv" style="display:<%=display%>;padding:5px;color:red;border:solid 1px #CCC;background-color:#CCFFCC;">
    <%=flash[:notice]%>
  </div>
  <br/>
  <form method="POST" action="/erp_app/application/create">
    <div class="form_settings">
      <div>
        <p><span>login</span><input type="text" name="login" /></p>
        <p><span>password</span><input type="password" name="password" /></p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value="login" /></p>
        <input type="hidden" name="redirect_to" value="<%=@redirect_to%>" />
        <input type="hidden" name="logout_to" value="/login" />
      </div>
    </div>
  </form>
</div>