<!DOCTYPE html>
<html>
<head>
  <title>ErpTechSvcs</title>
  <%= stylesheet_link_tag    "erp_tech_svcs/application" %>
  <%= javascript_include_tag "erp_tech_svcs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
