<div id="menubar">
  <ul id="menu">
    <% menu_item.positioned_children.each do |item| %>
      <% if request.env['REQUEST_PATH'] == "/" + item.url or request.env['HTTP_REFERER'] == item.url %>
        <li class="selected">
        <% else %>
        <li>
        <% end %>
        <a href="<%= item.menu_url %>"><span><%= item.title %></span></a>
      </li>
    <% end %>
  </ul>
</div>


