<div id="<%=widget_result_id%>"></div>
	
<script type="text/javascript">
	hs.graphicsDir = '../images/high_slide/graphics/';
	hs.showCredits = <%= @showCredits %>;
	hs.align = '<%= @align %>';
	hs.transitions = ['expand', 'crossfade'];
	hs.outlineType = 'rounded-white';
	hs.fadeInOut = true;
	//hs.dimmingOpacity = 0.75;

	// Add the controlbar
	hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		fixedControls: 'fit',
		overlayOptions: {
			opacity: 0.75,
			position: 'bottom center',
			hideOnMouseOut: true
		},
		thumbstrip: {
				mode: 'horizontal',
				position: 'top right',
				relativeTo: 'image'
			}
	});
</script>

<!-- High Slide  -->
<!-- <div class="highslide-gallery">
	<%# @images.each do |image| %>
		<%# link_to(image_tag(image.data.url(:thumb), :title => "Click to enlarge"), 
			image.data.url, :class => "highslide", :onclick => "return hs.expand(this)") %>
		<div class="highslide-caption">
			Optional caption for images. This caption can be styled using CSS.
		</div>
	<%# end %>
</div> -->