<!DOCTYPE html>
<html>
<head>
  <title>RailsDbAdmin</title>
  <%= stylesheet_link_tag    "rails_db_admin/application" %>
  <%= javascript_include_tag "rails_db_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
