/* body tag - modify this in conjunction with style.css <body> */
.x-body
{
	font-size:12px;	
	font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777;
}

/* header text */
.x-panel-header-text-default-framed
{
	color:#FFFFFF;
	font-family:tahoma, arial, verdana, sans-serif;
	font-size:11px;
	font-weight:700;
}

.x-panel-header-default-framed-top
{
	background-color:#29415D;
  background-image:none;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	border-style:solid;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-width:1px;
  box-shadow:none;
	padding:4px 5px;
}

/* form background & border */
.x-panel-default-framed
{
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#FFFFFF;
	border-color:#29415D;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	padding:4px;
}

/* form background & field label color */
.x-panel-body-default-framed
{
	background:#FFFFFF;
	border-color:#99bce8;
	border-style:solid;
	border-width:0;
	color:#000; /* field label color */
}

/* form field borders */
.x-form-field{
  border:1px solid;
	border-color:#b5b8c8;
}
.x-form-text,textarea.x-form-field
{
	background:repeat-x 0 0;
	background-color:#FFF;
	background-image:url(../../resources/themes/images/default/form/text-bg.gif);
	border:1px solid;
	border-color:#b5b8c8;
	padding:1px 3px;
}


/* this corrects a rendering issue */
.x-border-box .x-reset,.x-border-box .x-reset *
{
	-moz-box-sizing:content-box;
	-ms-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
