.icon-rails_db_admin {
    background-image:url( /images/icons/rails_db_admin/rails_db_admin_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/rails_db_admin/rails_db_admin_16x16.png', sizingMethod='crop');
}






