<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Organizer Login</title>

    <%= include_extjs('ext_3_3_0', 'xtheme-slate.css') %>
    <%= stylesheet_link_tag('erp_app/compass-ext-all.css','erp_app/login/main.css') %>
    <%= javascript_include_tag("erp_app/utility.js","erp_app/login/window.js")%>
    
  </head>
  <body scroll="no">
    <div style="text-align:center;width:100%;">
      <img src="/images/art/compass-logo-1.png" />
      <br/>
       <img src="/images/art/tn-logo-watermark-2.png" style="height:500px;" />
   </div>
    <script type="text/javascript">
      Ext.onReady(function(){
          var loginWindow = new Compass.ErpApp.Login.Window({applicationName:'Contact Management', redirectTo:'../organizer/', logoutTo:'/erp_app/organizer/login', message:'<%=flash[:error]%>'});
          loginWindow.show();
      });
    </script>
  </body>
</html>
