<h2><%=h @website_section.title %></h2>

<% @contents.each do |content| %>
  <% if content.display_title? %>
    <h3><%=h content.title %></h3>
  <% end %>
  <%=content.body_html %>
<% end %>
