<% form_remote_tag :url => build_widget_url(:update_password), :html => {:id => 'password_form'} do %>
    <div class="form_settings" style="margin-left: 20px;">
	  <p>
	    <span>Old Password</span>
	    <%= password_field_tag :old_password %>
	  </p>
      <p>
        <span>New Password</span>
        <%= password_field_tag :new_password %>
      </p>
      <p>
        <span>Confirm Password</span>
        <%= password_field_tag :password_confirmation %>
      </p>
      <p style="padding-top: 15px">
        <span>&nbsp;</span>
        <input type="reset" value="Reset" style="margin-left:112px;
        										 background: none repeat scroll 0 0 #263C56;
    											 border: 1px solid;
    											 color: #FFFFFF;
    											 cursor: pointer;
   												 font: 100% arial;
    											 height: 33px;
    											 margin: 0 0 0 212px;
    											 padding: 2px 0 3px;
   												 width: 99px;">
        <%=  submit_tag "Submit", :disable_with => "Please wait...", :class => "submit", :style => "margin-left: 0;" %>
      </p>
    </div>
  <% end %>