
<div id="<%=widget_result_id%>"></div>
<div> 
	
  <!-- *************************************** Update User Information ************************************* -->
	
  <a href="#" onclick="var state = document.getElementById('user_info_hide_show').style.display;
					    if (state == 'block') {
							document.getElementById('user_info_hide_show').style.display = 'none';
						} else {
							document.getElementById('user_info_hide_show').style.display = 'block';
						} 
						return false;
						"><h2 style="border-width: 0px 0px 1px; border-style: solid;">User Information</h2></a>
  <div id="user_info_hide_show">
  	<%= render :partial => '/user_information_form' %>
  </div>

  <!-- *************************************** Update Password ************************************* -->

  <a href="#" onclick="var state = document.getElementById('password_hide_show').style.display;
					    if (state == 'block') {
							document.getElementById('password_hide_show').style.display = 'none';
						} else {
							document.getElementById('password_hide_show').style.display = 'block';
						} 
						return false;
						"><h2 style="border-width: 0px 0px 1px; border-style: solid;">Password</h2></a>
  <div id="password_hide_show" style="display: none;">
    <%= render :partial => '/password_form' %>
  </div>

  <!-- *************************************** Update Contact Information ************************************* -->

  <a href="#" onclick="var state = document.getElementById('contact_info_hide_show').style.display;
					    if (state == 'block') {
							document.getElementById('contact_info_hide_show').style.display = 'none';
						} else {
							document.getElementById('contact_info_hide_show').style.display = 'block';
						} 
						return false;
						"><h2 style="border-width: 0px 0px 1px; border-style: solid;">Contact Information</h2></a>
  <div id="contact_info_hide_show" style="display: none;">						
    <%= render :partial => '/contact_information_form' %>
  </div>
</div>