.ext_tooltip li {
    padding : 5px;
}

.icon-apartment {
    background-image: url(/images/icons/apartment/apartment_16x16.png) !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/apartment/apartment_16x16.png', sizingMethod='crop');
}

.icon-accept {
    background-image: url(/images/icons/accept/accept_16x16.png) !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/accept/accept_16x16.png', sizingMethod='crop');
}

.icon-harddrive {
    background-image: url(/images/icons/hard_drive/hard_drive_16x16.png) !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/hard_drive/hard_drive_16x16.png', sizingMethod='crop');
}

.icon-mail {
    background-image: url(/images/icons/mail/mail_16x16.png) !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/mail/mail_16x16.png', sizingMethod='crop');
}

.icon-note {
    background-image: url(/images/icons/note/note_16x16.png) !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/note/note_16x16.png', sizingMethod='crop');
}

.icon-console {
    background-image: url(/images/icons/console/console_16x16.png) !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/console/console_16x16.png', sizingMethod='crop');
}

.icon-creditcards {
    background-image:url( /images/icons/creditcards/creditcards_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/creditcards/creditcards_16x16.png', sizingMethod='crop');
}

.icon-next {
    background-image:url( /images/icons/next/next_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/next/next_16x16.png', sizingMethod='crop');
}

.icon-globe {
    background-image:url( /images/icons/globe/globe_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/globe/globe_16x16.png', sizingMethod='crop');
}

.icon-globe_disconnected {
    background-image:url( /images/icons/globe_disconnected/globe_disconnected_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/globe_disconnected/globe_disconnected_16x16.png', sizingMethod='crop');
}

.icon-data {
    background-image:url( /images/icons/data/data_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/data/data_16x16.png', sizingMethod='crop');
}

.icon-monitor {
    background-image:url( /images/icons/monitor/monitor_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/monitor/monitor_16x16.png', sizingMethod='crop');
}

.icon-print {
    background-image:url( /images/icons/print/print_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/print/print_16x16.png', sizingMethod='crop');
}

.icon-key {
    background-image:url( /images/icons/key/key_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/key/key_16x16.png', sizingMethod='crop');
}

.icon-add {
    background-image:url( /images/icons/add/add_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/add/add_16x16.png', sizingMethod='crop');
}

.icon-recycle {
    background-image:url( /images/icons/recycle/recycle_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/recycle/recycle_16x16.png', sizingMethod='crop');
}

.icon-edit {
    background-image:url( /images/icons/edit/edit_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/edit/edit_16x16.png', sizingMethod='crop');
}

.icon-user {
    background-image:url( /images/icons/user/user_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/user/user_16x16.png', sizingMethod='crop');
}

.icon-search {
    background-image:url( /images/icons/search/search_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/search/search_16x16.png', sizingMethod='crop');
}

.icon-info {
    background-image:url( /images/icons/information/information_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/information/information_16x16.png', sizingMethod='crop');
}

.icon-gear {
    background-image:url( /images/icons/gear/gear_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/gear/gear_16x16.png', sizingMethod='crop');
}

.icon-folder_gear {
    background-image:url( /images/icons/folder_gear/folder_gear_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/folder_gear/folder_gear_16x16.png', sizingMethod='crop');
}

.icon-key {
    background-image:url( /images/icons/key/key_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/key/key_16x16.png', sizingMethod='crop');
}

.icon-prodconfig {
    background-image:url( /images/icons/prodconfig/prodconfig_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/prodconfig/prodconfig_16x16.png', sizingMethod='crop');
}

.icon-knowledge {
    background-image:url( /images/icons/knowledge/knowledge_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/knowledge/knowledge_16x16.png', sizingMethod='crop');
}

.icon-content {
    background-image:url( /images/icons/content/content_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/content/content_16x16.png', sizingMethod='crop');
}

.icon-delete {
    background-image:url( /images/icons/delete/delete_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/delete/delete_16x16.png', sizingMethod='crop');
}

.icon-search {
    background-image:url( /images/icons/search/search_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/search/search_16x16.png', sizingMethod='crop');
}

.icon-house {
    background-image:url( /images/icons/house/house_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/house/house_16x16.png', sizingMethod='crop');
}

.icon-save {
    background-image:url( /images/icons/save/save_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/save/save_16x16.png', sizingMethod='crop');
}

.icon-cut {
    background-image:url( /images/icons/cut/cut_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/cut/cut_16x16.png', sizingMethod='crop');
}

.icon-copy {
    background-image:url( /images/icons/copy/copy_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/copy/copy_16x16.png', sizingMethod='crop');
}

.icon-paste {
    background-image:url( /images/icons/paste/paste_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/paste/paste_16x16.png', sizingMethod='crop');
}

.icon-undo {
    background-image:url( /images/icons/undo/undo_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/undo/undo_16x16.png', sizingMethod='crop');
}

.icon-redo {
    background-image:url( /images/icons/redo/redo_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/redo/redo_16x16.png', sizingMethod='crop');
}

.icon-grid {
    background-image:url( /images/icons/grid/grid_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/grid/grid_16x16.png', sizingMethod='crop');
}

.icon-calendar {
    background-image:url( /images/icons/calendar/calendar_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/calendar/calendar_16x16.png', sizingMethod='crop');
}

.icon-exit {
    background-image:url( /images/icons/exit/exit_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/exit/exit_16x16.png', sizingMethod='crop');
}

.icon-document_chart {
    background-image:url( /images/icons/document_chart/document_chart_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_chart/document_chart_16x16.png', sizingMethod='crop');
}

.icon-documents {
    background-image:url( /images/icons/documents/documents_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/documents/documents_16x16.png', sizingMethod='crop');
}

.icon-message {
    background-image:url( /images/icons/message/message_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/message/message_16x16.png', sizingMethod='crop');
}

.icon-settings {
    background-image:url( /images/icons/settings/settings_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/settings/settings_16x16.png', sizingMethod='crop');
}

.icon-new {
    background-image:url( /images/icons/new/new_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/new/new_16x16.png', sizingMethod='crop');
}

.icon-monitor {
    background-image:url( /images/icons/monitor/monitor_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/monitor/monitor_16x16.png', sizingMethod='crop');
}

.icon-open {
    background-image:url( /images/icons/open/open_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/open/open_16x16.png', sizingMethod='crop');
}

.icon-document {
    background-image:url( /images/icons/document/document_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document/document_16x16.png', sizingMethod='crop');
}

.icon-document_info {
    background-image:url( /images/icons/document_info/document_info_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document/document_info_16x16.png', sizingMethod='crop');
}


.icon-document_ok {
    background-image:url( /images/icons/document_ok/document_ok_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_ok/document_ok_16x16.png', sizingMethod='crop');	
}

.icon-document_lock {
    background-image:url( /images/icons/document_lock/document_lock_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_lock/document_lock_16x16.png', sizingMethod='crop');
}

.icon-document_check {
    background-image:url( /images/icons/document_check/document_check_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_check/document_check_16x16.png', sizingMethod='crop');
}

.icon-folders {
    background-image:url( /images/icons/folders/folders_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/folders/folders_16x16.png', sizingMethod='crop');
}

.icon-upload {
    background-image:url( /images/erp_app/desktop/image_add.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/erp_app/desktop/image_add.png', sizingMethod='crop');

}

.icon-blog {
    background-image:url( /images/icons/blog/blog_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/blog/blog_16x16.png', sizingMethod='crop');
}

.icon-document_out {
    background-image:url( /images/icons/document_out/document_out_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_out/document_out_16x16.png', sizingMethod='crop');
}

.icon-document_up {
    background-image:url( /images/icons/document_up/document_up_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/document_up/document_up_16x16.png', sizingMethod='crop');
}

.icon-refresh {
    background-image:url( /images/icons/refresh/refresh_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/refresh/refresh_16x16.png', sizingMethod='crop');
}

.icon-next {
    background-image:url( /images/icons/next/next_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/next/next_16x16.png', sizingMethod='crop');
}

.icon-previous {
    background-image:url( /images/icons/previous/previous_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/previous/previous_16x16.png', sizingMethod='crop');
}

.icon-picture {
    background-image:url( /images/icons/picture/picture_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/picture/picture_16x16.png', sizingMethod='crop');
}

.icon-prodconfig {
    background-image:url( /images/icons/prodconfig/prodconfig_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/prodconfig/prodconfig_16x16.png', sizingMethod='crop');
}

.icon-palette {
    background-image:url( /images/icons/palette/palette_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/palette/palette_16x16.png', sizingMethod='crop');
}

.icon-scroll {
    background-image:url( /images/icons/scroll/scroll_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/scroll/scroll_16x16.png', sizingMethod='crop');
}

.icon-control_panel {
    background-image:url( /images/icons/control_panel/control_panel_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/control_panel/control_panel_16x16.png', sizingMethod='crop');
}

.icon-index {
    background-image:url( /images/icons/index/index_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/index/index_16x16.png', sizingMethod='crop');
}

.icon-warning{
    background-image:url( /images/icons/warning/warning_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/warning/warning_16x16.png', sizingMethod='crop');
}

.icon-product{
    background-image:url( /images/icons/product/product_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/product/product_16x16.png', sizingMethod='crop');
}

.icon-package{
    background-image:url( /images/icons/package/package_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/package/package_16x16.png', sizingMethod='crop');
}

.icon-map{
    background-image:url( /images/icons/map/map_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/map/map_16x16.png', sizingMethod='crop');
}

.icon-arrow-right-blue {
    background-image:url( /images/icons/arrow_right_blue/arrow_right_blue_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/arrow_right_blue/arrow_right_blue_16x16.png', sizingMethod='crop');
}

.icon-arrow-down-blue {
    background-image:url( /images/icons/arrow_down_blue/arrow_down_blue_16x16.png ) !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/arrow_down_blue/arrow_down_blue_16x16.png', sizingMethod='crop');
}

.icon-eye {
   background-image:url( /images/icons/eye/eye_16x16.png ) !important;
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/eye/eye_16x16.png', sizingMethod='crop');
}

.icon-zoom-out {
   background-image:url( /images/icons/zoom_out/zoom_out_16x16.png ) !important;
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/zoom_out/zoom_out_16x16.png', sizingMethod='crop');
}






