span.label{
  margin-right: 5px;
}

span.value{
  font-weight:bold;
}

.x-img{
  margin-right: 1em;
  background-position: center center;
  width: 100px;
  height: 100px;
}

.x-body{
  overflow:hidden;
  min-width: 100%;
  max-width: 100%;
}

.x-docking-horizontal{
  display: -webkit-box;
  -webkit-box-flex:1;
  -webkit-box-orient:horizontal;
  min-width:100%;
  max-width:100%;
}